# API
fastapi
uvicorn[standard]

# AI
anthropic
groq
langchain_anthropic

# PDF generation
playwright
pypdf
python-multipart

# Utilities
python-dotenv
pydantic
sqlmodel
psycopg[binary]==3.2.10
alembic==1.16.5
